{% extends 'layout.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Nouveau évènement</h1>
    <div class="row">
        {{ include('event/_form.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>var eventY = null;</script>
    <script>var eventX = null;</script>
    <script>var eventPlaceId = null;</script>
    <script>require('assets/js/app/08-event.js');</script>
{% endblock %}
