{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-signin fos_user_resetting_request">
    <div class="form-label-group">
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <input type="text" id="username" name="username" class="form-control" required autofocus placeholder="Identifiant"/>
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
    </div>
    <button class="btn btn-sm btn-primary btn-block text-uppercase" type="submit">{{ 'resetting.request.submit'|trans }}</button>
</form>
