{% extends "layout.html.twig" %}


{% block title %}
    Demande de réinitialisation du mot de passe - {{ parent() }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-5 col-xl-5 mx-auto">
        <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
                <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Demande de réinitialisation de mot de passe</h5>
                {% include('bundles/FOSUserBundle/Resetting/request_content.html.twig') %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
