{% extends 'layout.html.twig' %}
{% trans_default_domain 'message' %}

{% block title %}{{ 'lg.person.create'|trans }}{% endblock %}

{% block body %}
    <h1>Modification de la communauté</h1>
    <div class="row">
        {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
